<%- include("header") -%>

<h2>This is the about section of the page.</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, pariatur placeat dolor fugit excepturi maiores blanditiis enim, quo quidem id vitae recusandae neque quam rem temporibus quisquam iure. Amet, animi? Sit rerum iusto aliquam doloribus laborum? Repellat ab sed vero illum amet recusandae earum totam placeat commodi sint. Vel.</p>

<%- include("footer") -%>